.link,
.intro-text {
  color: #046240;
  font-weight: bold;
}

.link:link {
  color: #046240;
}

.link:hover {
  color: #046240;
}

#circle {
  position: relative;
  background: #046240;
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

.decoration {
  position: absolute;
}
