.mediaViewInfo {
  --web-view-name: Landing Page 2;
  --web-view-id: Landing_Page_2;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Landing_Page_2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Landing_Page_2 {
  position: absolute;
  width: 1920px;
  height: 2155px;
  background-color: rgba(255, 243, 204, 1);
  overflow: hidden;
  --web-view-name: Landing Page 2;
  --web-view-id: Landing_Page_2;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#Navbar {
  position: absolute;
  width: 1920px;
  height: 866px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#starbucks-logo {
  position: absolute;
  width: 235px;
  height: 234px;
  left: 843px;
  top: 0px;
  overflow: visible;
}
#Navbar_left_buttons {
  position: absolute;
  width: 359px;
  height: 28px;
  left: 206px;
  top: 93px;
  overflow: visible;
}
#Link {
  left: 126px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 54px;
  white-space: nowrap;
  text-align: left;
  font-family: Consolas;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(4, 98, 64, 1);
}
#Home {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 54px;
  white-space: nowrap;
  text-align: left;
  font-family: Consolas;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(4, 98, 64, 1);
}
#Disabled {
  left: 253px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 107px;
  white-space: nowrap;
  text-align: left;
  font-family: Consolas;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(4, 98, 64, 1);
}
#signinsignup_buttons {
  position: absolute;
  width: 236px;
  height: 28px;
  left: 1356px;
  top: 93px;
  overflow: visible;
}
#Sign_In {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 93px;
  white-space: nowrap;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Sign_In_Page_.html;
  cursor: pointer;
  text-align: left;
  font-family: Consolas;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(4, 98, 64, 1);
}
#Join_Now {
  left: 130px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 107px;
  white-space: nowrap;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Sign_Up_Page.html;
  cursor: pointer;
  text-align: left;
  font-family: Consolas;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(4, 98, 64, 1);
}
#NavBar {
  fill: transparent;
}
.NavBar {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 234px;
  left: 0px;
  top: 0px;
}
#Rectangle_196 {
  fill: transparent;
  stroke: rgba(4, 98, 64, 1);
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_196 {
  position: absolute;
  overflow: visible;
  width: 49px;
  height: 119px;
  left: 936px;
  top: 747px;
}
#Ellipse_2 {
  fill: rgba(4, 98, 64, 1);
}
.Ellipse_2 {
  position: absolute;
  overflow: visible;
  width: 870px;
  height: 870px;
  left: 1647px;
  top: -141px;
}
#Path_8 {
  fill: rgba(4, 98, 64, 1);
}
.Path_8 {
  overflow: visible;
  position: absolute;
  width: 1001.185px;
  height: 1238.429px;
  left: -46.994px;
  top: 265.728px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Ellipse_3 {
  fill: rgba(4, 98, 64, 1);
}
.Ellipse_3 {
  position: absolute;
  overflow: visible;
  width: 343px;
  height: 343px;
  left: 1577px;
  top: 1765px;
}
#Ellipse_4 {
  fill: rgba(4, 98, 64, 1);
}
.Ellipse_4 {
  position: absolute;
  overflow: visible;
  width: 365px;
  height: 361px;
  left: 1647px;
  top: 1504px;
}
#Ellipse_7 {
  fill: rgba(4, 98, 64, 1);
}
.Ellipse_7 {
  position: absolute;
  overflow: visible;
  width: 365px;
  height: 361px;
  left: 1830px;
  top: 1685px;
}
#Ellipse_5 {
  fill: rgba(4, 98, 64, 1);
}
.Ellipse_5 {
  position: absolute;
  overflow: visible;
  width: 333px;
  height: 333px;
  left: 1749px;
  top: 1936px;
}
#Ellipse_6 {
  fill: rgba(4, 98, 64, 1);
}
.Ellipse_6 {
  position: absolute;
  overflow: visible;
  width: 981px;
  height: 981px;
  left: -206px;
  top: 1898px;
}
#Starbucks_Voucher_Discount_App {
  left: 359px;
  top: 316px;
  position: absolute;
  overflow: visible;
  width: 1204px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: rgba(4, 98, 64, 1);
}
#Enjoy_your__coffee_the_way_you {
  left: 1079px;
  top: 729px;
  position: absolute;
  overflow: visible;
  width: 752px;
  height: 776px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: rgba(4, 98, 64, 1);
}
#Ellipse_8 {
  fill: rgba(4, 98, 64, 1);
}
.Ellipse_8 {
  position: absolute;
  overflow: visible;
  width: 365px;
  height: 361px;
  left: -118px;
  top: 1747px;
}
#Ellipse_9 {
  fill: rgba(4, 98, 64, 1);
  stroke: rgba(4, 98, 64, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_9 {
  position: absolute;
  overflow: visible;
  width: 18px;
  height: 18px;
  left: 951px;
  top: 831px;
}
#hiclipartcom {
  position: absolute;
  width: 382px;
  height: 682px;
  left: 98px;
  top: 358px;
  overflow: visible;
}
#hiclipartcom_ {
  position: absolute;
  width: 382px;
  height: 682px;
  left: 94px;
  top: 358px;
  overflow: visible;
}
#hiclipartcom_1 {
  position: absolute;
  width: 657px;
  height: 875px;
  left: 1356px;
  top: 1271px;
  overflow: visible;
}
#Create_an_account_and_apply_wi {
  left: 247px;
  top: 1504px;
  position: absolute;
  overflow: visible;
  width: 1019px;
  height: 494px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: rgba(4, 98, 64, 1);
}
#Join_Now_button {
  position: absolute;
  width: 401px;
  height: 117px;
  left: 702px;
  top: 1800px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Sign_Up_Page.html;
  cursor: pointer;
}
#Rectangle_197 {
  fill: rgba(255, 243, 204, 1);
  stroke: rgba(4, 98, 64, 1);
  stroke-width: 5px;
  stroke-linejoin: bevel;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_197 {
  position: absolute;
  overflow: visible;
  width: 401px;
  height: 117px;
  left: 0px;
  top: 0px;
}
#Join_Now_bd {
  left: 44px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 315px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 77px;
  color: rgba(4, 98, 64, 1);
}
#Ellipse_8_be {
  fill: rgba(4, 98, 64, 1);
}
.Ellipse_8_be {
  position: absolute;
  overflow: visible;
  width: 365px;
  height: 361px;
  left: 1872px;
  top: 1747px;
}
